@import '../../../../../data/constants.css';

.reviews-section {
    margin-top: 50px;
    margin-left: var(--global_margin_left_right);
    margin-right: var(--global_margin_left_right);
}

.review-section-header{
    text-align: center;
}

.reviews-cards-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.review-card{
    /* border: 1px solid grey; */
    margin-top: 80px;
    box-shadow: 0 0 5px #888888;
    border-radius: 10px;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}

.avatar-container{
    position: absolute;
    left:10px;
    top: -50px;
}

.review-card-name{
    font-size: large;
    font-weight: bold;
    margin-left: 110px;
    margin-top: 20px;
}

.review-card-text{
    margin-top: 20px;
}