@import '../../../data/constants.css';

.vacancy-pre-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.vacancy-section{
    margin-left: var(--global_margin_left_right);
    margin-right: var(--global_margin_left_right);
}


.vacancy-favorite-button{
    border: none;
    background:none;
}


.heart-filter{
    height: 20px;
}

.heart-filter:hover{
    filter: invert(89%) sepia(63%) saturate(1410%) hue-rotate(322deg) brightness(100%) contrast(81%);
}

.vacancy-header{
    margin-top: 10px;
    text-align: left;
}

.vacancy-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px 40px;
}


.vacancy-item {
    display: flex;
    /* border: 1px solid green; */
}

.vacancy-item img{
    height: 30px;
}

.vacancy-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px
}

.vacancy-parameter-value{
    font-size: large;
    font-weight: bold;
}

.discription-text-container{
    margin-top:20px
}

.vacancy-apply-button-container{
    text-align: center;
}
.vacancy-apply-button{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px 40px
    
}