@import '../../../../../data/constants.css';

.paginationButton{
    /* text-decoration: none; */
    border: solid 1px grey;
    margin-left: 10px;
    padding: 3px 4px 2px;
    border-radius: 3px;
    color: black;
}

.paginationButtonCurrent{
    background-color: var(--button-general-background-color3);
}