@import '../../../../../data//constants.css';

.form-modal-window-enviroment{
    background-color: var(--modal-window-background_color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.form-container{
    background-color:white;
    max-width: 400px;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 20px 0;
    box-sizing: border-box;
    /* display: block; */
}

.form-close-button-container{
    display: flex;
    justify-content: end;
    /* margin-top: 20px; */
    margin-right: 30px;
}

.form-close-button{
    /* border: solid 1px grey; */
    border: solid 1px transparent;
    background-color: transparent;
    padding: 3px 3px 2px;
    border-radius: 3px;
}

.form-close-button:hover {
    border: solid 1px grey;

}

.form-header-container{
    display: flex;
    justify-content: center;
}

.form-main-container{
    margin:30px 40px 0;
}

.rating-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-icon{
    height: 40px;
}

.comment-area-container{
    margin-top: 20px;
}

.comment-input-block{
    display: flex;
    flex-direction: column;
}

.comment-text-area{
    resize: none;
}

.submit-button-container{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}