
.common-button{
    background: #C0C0C0;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: medium;
}

.navLinks{
    text-decoration: none;
    color: black;
  }

.navLinks:hover{
    text-decoration: underline;
  }