.application-status-marker-approved{
    color: #33D625;
    margin-left: 10px;
}

.application-status-marker-rejected{
    color: #d62b25;
    margin-left: 10px;
}

.application-status-marker-pending {
    color: lightgray;
    margin-left: 10px;
}