
.applications-list-pagination-container{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}

.list-applications-table{
    margin-top: 2px;
    width: 100%;
    border-collapse: collapse; 
  }

.applications-table-tr{
    border-bottom: 1px solid grey;
    
}

.applications-table-tr td{
    padding: 10px 0;
}

.applications-table-tr td:first-child{
    font-weight: bold;
  }

.applications-pagination-button{
    border: none;
    background-color: transparent;
    width: 100px;
}

.applications-pagination-button:hover{
    text-decoration: underline;
}

.status-marker-approved{
    color: #33D625;
    margin-left: 10px;
}

.status-marker-rejected{
    color: #d62b25;
    margin-left: 10px;
}

.status-marker-pending {
    color: lightgray;
    margin-left: 10px;
}