.vacancies-list-container{
    margin-top: 20px;
}

.list-vacancies-table{
    margin-top: 2px;
    width: 100%;
    border-collapse: collapse; 
  }
  
  .vacancy-list-tr{
    border-bottom: 1px solid grey;
  }
  
  .vacancy-list-tr td{
    padding: 12px 17px;
  }

  .vacancy-list-tr td:first-child{
    font-weight: bold;
  }

  .details-link-button{
    padding: 10px 15px;
    border-radius: 8px;

  }