@import './constants.css';

.profile-user-data-section{
    margin-left: var(--global_margin_left_right);
    margin-right: var(--global_margin_left_right);
    margin-top: 40px;
    display:flex;
    justify-content: space-around;
}

.profile-user-avatar-set{
    background-color: var(--avatar_default_background_color);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar-capital-letter{
    font-size: 150px;

    padding:0;
    padding-bottom: 15px;
    margin:0;
}

.profile-user-data-form{
    display: flex;
    flex-direction: column;
}

.profile-user-data-input-container{
    position: relative;
    /* border: solid 1px red; */
    width: 400px;
    margin-top: 20px;
}

.profile-user-data-form-text-input{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 3rem 0 15px;
    box-sizing: border-box;
    font-size: medium;
}

.profile-user-data-edit-icon{
    position: absolute;
    top: 25%;
    right: 10px;
    box-sizing: border-box;
    height: 1 rem;
    width: 1 rem;
}

.profile-form-submit-button{
    margin-top: 20px;
    width: 150px;
}


.user-profile-cv-input-upload,
.user-profile-cv-input-replace{
    padding-top: 4px;
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;

}

.user-profile-cv-input-upload::-webkit-file-upload-button,
.user-profile-cv-input-replace::-webkit-file-upload-button {
    visibility: hidden;
}
.user-profile-cv-input-upload::before,
.user-profile-cv-input-replace::before{
    display: inline-block;
    background:#C0C0C0;
  border-radius: 10px;
  padding: 7px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.user-profile-cv-input-upload:hover::before,
.user-profile-cv-input-replace:hover::before {
    /* text-decoration: underline; */
    /* border-color: black; */
    box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0);
    transform: translateY(-0.25em);

  }
  .user-profile-cv-input-upload:active::before,
  .user-profile-cv-input-replace:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .user-profile-cv-input-upload::before{
    content: 'Upload';
  }
  .user-profile-cv-input-replace::before{
    content: 'Replace';
  }

  .profile-cv-input-container{
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    font-size: medium;
    margin-top: 20px;
  }

  .profile-my-cv-link-container{
    margin-top: 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
  }

  .profile-delete-cv-button{
    background-color: transparent;
    border: none;
    font-size: larger;
  }
  .profile-delete-cv-button:hover{
    color: rgb(204, 0, 0);
    font-weight: bold;
  }

.profile-sent-applications-section{
  margin-top: 100px;
  margin-left: var(--global_margin_left_right);
  margin-right: var(--global_margin_left_right);
}

.profile-sent-applications-header{
  text-align: center;
}

