@import '../constants.css';

.admin-applications-container{
    padding-left: var(--global_margin_left_right);
    padding-right: var(--global_margin_left_right);
}

.admin-applications-tools-section{
    display: flex;
    justify-content: space-evenly;
    margin-top:30px
}

.admin-applications-list-container{
    margin-top: 50px;
}

.applications-filter-button-general img {
    margin-left: 1rem;
}

.cancel-application-filters-button {
    margin-left: 50px;
}

.admin-applications-pagination-section{
    margin-top: 40px;
    margin-bottom:40px;
    display: flex;
    justify-content: end;

}

.applications-pagination-button{
    border: none;
    background-color: transparent;
    width: 100px;
}

.applications-pagination-butto:hover{
    text-decoration: underline;
}

.applications-pagination-link{
    text-decoration: none;
    border: solid 1px gray;
    margin-left: 10px;
    padding: 2px 4px;
    border-radius: 3px;
    color: black;
}

.current-aplications-pagination-link{
    background-color: var(--button-general-background-color3);
}