.admin-applications-list-pagination-container {
    margin-top: 40px;
    display: flex;
    justify-content: end;
}

.admin-list-applications-table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}
.admin-list-applications-table th{
    text-align: left;
    background: #FDFAEB;
    padding-top: 20px;
    padding-bottom: 20px;
}

.admin-list-applications-first-header{
    padding-left: 10px;
}

.admin-applications-table-tr {
    border-bottom: 1px solid grey;

}

.admin-applications-table-tr td {
    padding: 10px 0;
}

.admin-applications-table-tr td:first-child {
    font-weight: bold;
    padding-left: 10px;
}

.admin-applications-pagination-button {
    border: none;
    background-color: transparent;
    width: 100px;
}

.admin-applications-pagination-button:hover {
    text-decoration: underline;
}

.admin-application-status{
    display: inline-block;
    width: 4rem;
}

.admin-status-marker-approved {
    color: #33D625;
    margin-left: 10px;

}

.admin-status-marker-rejected {
    color: #d62b25;
    margin-left: 10px;
}

.admin-status-marker-pending {
    color: lightgray;
    margin-left: 10px;
}