@import '../constants.css';

.admin-vacancy-form-modal-window-enviroment{
    background-color: var(--modal-window-background_color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.admin-vacancy-form{
    background-color:white;
    max-width: 1000px;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 20px 0;
    box-sizing: border-box;
    /* display: block; */
}

.admin-vacancy-form-close-button-container{
    display: flex;
    justify-content: end;
    /* margin-top: 20px; */
    margin-right: 30px;
}

.admin-vacancy-form-close-button{
    /* border: solid 1px grey; */
    border: solid 1px transparent;
    background-color: transparent;
    padding: 3px 3px 2px;
    border-radius: 3px;
}

.admin-vacancy-form-close-button:hover {
    border: solid 1px grey;

}

.admin-vacancy-form-main-container{
    margin:30px 40px 0;
}

.admin-vacancy-form-header-container{

}

.admin-vacancy-form-name-container,
.admin-vacancy-form-company-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.admin-vacancy-name-input{
    font-size: large;
    font-weight: bold;
    /* border-radius: 5px; */
}

.admin-vacancy-form-company-container{
    margin-top: 30px;
}

#form-vacancy-company-input{

        font-size:medium;
        /* font-weight: bold; */
}


.admin-form-vacancy-items-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px 50px;
    margin-top: 30px;
}

.admin-form-vacancy-items{
    display: grid;
    grid-template-columns: 3fr 6fr;
}

.admin-form-vacancy-items select{
    width: 100%;
}

.admin-vacancy-form-input{
    padding: 10px;
    border: solid 1px grey;
    border-radius: 10px;

}

#form-vacancy-sector-select{
    height: 7rem;
}


.admin-vacancy-form-description-requirements-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
    margin-top: 30px;
}

.admin-vacancy-form-description-block, 
.admin-vacancy-form-requirements-block{
    display: flex;
    flex-direction: column;
}

#form-vacancy-description, 
#form-vacancy-requirements{
    margin-top: 10px;
    height: 12rem;
    resize: none;
}

.admin-vacancy-form-submit-container{
    margin-top: 30px;
    
    display: flex;
    justify-content: center;
}