@import '../../../data/constants.css';


.certificates-section{
    margin-left: var(--global_margin_left_right);
    margin-right: var(--global_margin_left_right);
}

.certificate-section-header{
    text-align: center;
    margin-top: 100px;
}

.certificates-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.certificate-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    

}

.certificate-img{
    border-radius: 10px;
    width: 100%;
}
.certificate-img:hover{

    box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0);
  transform: translateY(-0.25em);
}


.certificate-full-size-modal-window{
    position: fixed;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    background-Color: rgba(175, 175, 175, 0.9);
    justify-content:center;
    align-items: center;
}

.certificate-full-size-image{
    height: 95vh;
}