:root{
    --global_margin_left_right:80px;
    --avatar_default_background_color:  #50e5ff;
    --design_color1: #FFFFFF;
    --design-color2: #36322E;
    --design-text-color2: #FDFAEB;
    --button-general-background-color1: #E6BE49;
    --button-general-background-color2: #F0D976;
    --button-general-background-color3: #F5E79C;
    --button-general-background-color4: #ffffff;
    --modal-window-background_color: #00000082;
    --global-max-width: 1300px;
}